html {
    scroll-behavior: smooth;
}

body{
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: white;
}

.Logo {
    width: 40px;
    
   
}

.footer-wrap{
    display: flex;
    justify-content: space-around;
}

.nav-black {
    background-color: black;
    opacity: 0.9;
    color: white;
}